.login-form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.login-form.ng-valid {
  border-color: #3faa4d;
  background-color: rgba(170, 255, 170, 0.2);
}

.login-form input[type="text"],
.login-form input[type="date"],
.login-form input[type="email"] {
  width: 75%;
}

.login-form-label {
  display: block;
}

.login-form .ng-invalid.ng-dirty {
  border-color: firebrick;
}
